<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Raidhelper{% endblock %}</title>
        <link rel="stylesheet"
        href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet"
        href="{{ asset('css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
   
    <body>
        <h1 style="color:red;text-align:center"> RAIDHELPER </h1>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Raidhelper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/actualités">Actualités <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/factions">Guerre de factions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/arene">Arène</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donjons">Donjons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clanboss">Boss de clan</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
