{% extends 'base.html.twig'%}

{% block body %}
<h1> Raid helper</h1>

<p> Le but de ce site est de t'aider, qu'importe ton niveau, te donner les dernières actualités, des outils, des tips, bref te guider dans ton aventure sur raid peu importe ton niveau
</p>
{% endblock %}

