{% extends 'base.html.twig' %}

{% block title %}Hello RaidController!{% endblock %}

{% block body %}

<section class="actualités">
    <article>
        <h2>Prochain patch 2.10</h2>
        <div class="metadata">Le patch devrait arriver fin juillet et apporter notamment le bazar d'arene 3v3</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <p>
                <screen></screen>
            </p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Prochain patch 2.10</h2>
        <div class="metadata">Le patch devrait arriver fin juillet et apporter notamment le bazar d'arene 3v3</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <p>
                <screen></screen>
            </p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Prochain patch 2.10</h2>
        <div class="metadata">Le patch devrait arriver fin juillet et apporter notamment le bazar d'arene 3v3</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <p>
                <screen></screen>
            </p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>

{% endblock %}
