{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Prochain patch 2.10</h2>
        <div class="metadata">Le patch devrait arriver fin juillet et apporter notamment le bazar d'arene 3v3</div>
        <div class="content">
            <img src="https://media.senscritique.com/media/000018478437/source_big/RAID_Shadow_Legends.jpg" alt="">
            <p>
                <screen></screen>
            </p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt, eius eveniet, officiis dolorem quaerat, doloribus quidem accusantium cupiditate nam sed minima repellat. Ipsum fugit ex ad ipsa rerum modi aliquid. Necessitatibus aspernatur nisi, iure, dolores voluptates est soluta eius minima id porro aliquam nobis consequatur vitae quod dolor officiis.</p>
            <p>Quos eaque, minus nemo deleniti nesciunt doloribus amet assumenda molestias aperiam repellat animi, itaque veritatis natus commodi, at voluptas! Quas quisquam vel ullam neque deleniti, beatae dolorem pariatur est sequi, sapiente odit illo ab iste ipsa omnis eos harum possimus iure eligendi aspernatur porro dignissimos quo sint! Quas, obcaecati nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum recusandae pariatur ducimus libero et totam veniam aut a sit dolor voluptas repudiandae dolorum ipsam quibusdam quas magni voluptatibus corrupti nobis, at fugiat provident quaerat? Sapiente rerum dolor sit? Alias eum nisi accusantium quaerat eveniet, numquam laboriosam atque ad iure, quisquam rerum, molestias asperiores cupiditate consequatur saepe facere. Quaerat perferendis quas dignissimos consequatur animi nisi iusto at asperiores! Doloribus debitis voluptates cum? Corporis nostrum vel quos fugiat temporibus tempora blanditiis sunt totam dolor, harum distinctio placeat repellendus saepe voluptatibus! Vero totam incidunt laudantium repellat voluptates maxime fuga ducimus autem libero!</p>
            <p>Enim, illo quae quo architecto itaque est obcaecati magni, accusamus aut numquam laborum soluta officia aliquid maiores. Sunt nemo quo dignissimos nobis fuga itaque voluptates numquam porro qui, voluptas vitae similique sequi eveniet soluta corrupti neque dolorum non ut harum temporibus voluptate? Animi eligendi maiores, nobis odio impedit rerum tenetur quasi fugiat provident quia adipisci, illum laborum quas aperiam blanditiis fugit dolores. Nobis odio aliquam rem aperiam recusandae. Officiis sequi dolore at temporibus id, suscipit commodi a et, facilis ipsa tenetur dolorem? Laudantium molestiae debitis molestias eaque, voluptatibus nemo doloremque iusto fugiat maxime tempora delectus, porro quo explicabo temporibus harum!</p>
        </div>
    </article>
{% endblock %}